node_modules/
dist/

.vscode/

# Logs
logs/
*.log
src\logs

venv/
__pycache__/
*.pyc
env/
.env
.env.*

# Python env
backend/python-service/.env
backend/python-service/.env.*
backend/python-service/.env

**/.env
**/.env*

**/serviceAccount.json
serviceAccount.json